scipy==1.15.2
matplotlib==3.10.1
plotly==6.0.1
seaborn==0.13.2
openpyxl==3.1.2
pyreadstat==1.2.1
scikit-learn==1.6.1
tableone==0.7.12
lifelines==0.27.4
networkx==3.2.1
r-terra
r-geojsonio
r-sf
r-tidygeocoder
r-tmap
r-tidyverse
r-dplyr
r-tidyr
r-haven
r-reshape
#Trigger build
