matplotlib==3.4.2
plotly==5.6.0
seaborn==0.11.1
openpyxl==3.0.7
pyreadstat==1.2.1
r-sf
r-tidygeocoder
r-tmap
r-tidyverse
#trigger build
pillow>=10.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
