pandas
numpy
scipy
jupyterlab-git
jupyterlab_templates
jupyterlab_latex
jupyterlab-spellchecker
jupyter-server>=2.14.1 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.4.1 # not directly required, pinned by Snyk to avoid a vulnerability
